:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --primary-color: #048f40;
  --dark-color: #0e6a47;
  --light-color: #83b757;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}


.bg-modal {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.donation-form-modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.div-1.show {
  opacity: 1;
  transform: scale(1);
}

.donation-form-div-1.show {
  opacity: 1;
  transform: scale(1);
}

.modal-box.show {
  opacity: 1;
}


.donation-form-modal-box.show {
  opacity: 1;
}

.div-1 {
  position: relative;
  width: 600px;
  /* height: 740px; */
  padding-bottom: 17px;
  background: #ffffff;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.25);
  transform: scale(0.8);
  opacity: 0;
  transition: all ease 0.3s;
}

.donation-form-div-1 {
  position: relative;
  width: 600px;
  /* height: 740px; */
  padding-bottom: 17px;
  background: #ffffff;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.25);
  transform: scale(0.8);
  opacity: 0;
  transition: all ease 0.3s;
}


.button {
  position: relative;
  width: 100%;
  height: 20px;
  /* border: 1px solid black; */
  background: rgba(0, 0, 0, 0);
  z-index: 43;
  padding: 25px 17px 0px 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 15px;
  height: 20px;
  z-index: 44;
  overflow: hidden;
}

.frame-3 {
  flex-shrink: 0;
  position: relative;
  width: 15px;
  height: 20px;
  background: url(../img/f21ad419-1f4a-44fb-8f1d-f79a79c0cd98.png) no-repeat center;
  background-size: cover;
  z-index: 45;
  cursor: pointer;
  overflow: hidden;
}

.flex-column-fdd {
  position: relative;
  display: flex;
  z-index: 5;
  flex-direction: column;
  align-items: center;
}

.h {
  position: relative;
  width: 100%;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 3;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-a-donation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 196px;
  height: 29px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 4;
}

.div-4 {
  position: relative;
  margin: 24px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
  width: 100%;
  /* height: 570px; */
  padding: 0px 16px;
  overflow: auto;
}

.div-5 {
  position: relative;
  background: #f9fafb;
  padding: 20px 20px;
  z-index: 6;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
}

.div-6 {
  position: relative;
  width: 100%;
  height: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 7;
}

.bank-transfer-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 24px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}

.frame-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  z-index: 9;
  overflow: hidden;
}

.frame-8 {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(../img/9250a31f-d981-4b28-9271-73036d8d4e1a.png) no-repeat center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}

.div-9 {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 15px 0 0 0px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 11;
}

.abc-islamic-bank {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  z-index: 12;
}

.organization-name {
  display: block;
  position: relative;
  height: 17px;
  margin: 11px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  z-index: 13;
}

.account-number {
  display: block;
  position: relative;
  height: 17px;
  margin: 11px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  z-index: 14;
}

.iban {
  display: block;
  position: relative;
  height: 17px;
  margin: 11px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  z-index: 15;
}


.div-a {
  position: relative;
  background: #f9fafb;
  z-index: 16;
  border-radius: 8px;
  padding: 10px 20px;
  ;
  margin-top: 20px;
  border: 1px solid var(--dark-color);
}

.h-b {
  position: relative;
  width: 100%;
  height: 24px;
  margin: 16px 0 0 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}

.jazz-cash {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 20px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}

.frame-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 4px;
  left: 0;
  z-index: 19;
  overflow: hidden;
}

.frame-d {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 16px;
  background: url(../img/298bab83-a5cd-4847-9ff7-313cd7b897b8.png) no-repeat center;
  background-size: cover;
  z-index: 20;
  overflow: hidden;
}

.div-e {
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0);
  z-index: 21;
}

.div-f {
  width: 96px;
  height: 96px;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}

.img {
  width: 96px;
  height: 96px;
  background: url(../img/fb6875a2fc25e17eebcc2fb486275a5221070576.png) no-repeat center;
  background-size: cover;
  z-index: 26;
  border-radius: 8px;
}

.div-10 {
  width: 100%;
  height: 48px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 22;
}

.account-number-11 {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}

.account-title {
  display: block;
  position: relative;
  height: 17px;
  margin: 11px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}

.div-12 {
  position: relative;
  background: #f9fafb;
  z-index: 27;
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid var(--dark-color);
}

.h-13 {
  position: relative;
  width: 100%;
  height: 24px;
  margin: 16px 0 0 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 28;
}

.easypaisa {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 20px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}

.frame-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 12px;
  height: 16px;
  top: 4px;
  left: 0;
  z-index: 30;
  overflow: hidden;
}

.frame-15 {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 16px;
  background: url(../img/080806c7-dba9-40be-b093-c838c8752b9d.png) no-repeat center;
  background-size: cover;
  z-index: 31;
  overflow: hidden;
}

.div-16 {
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  display: flex;
  background: rgba(0, 0, 0, 0);
  z-index: 21;
}

.div-17 {
  width: 96px;
  height: 96px;
  background: rgba(0, 0, 0, 0);
  z-index: 36;
}

.img-18 {
  width: 96px;
  height: 96px;
  background: url(../img/171164b0f8ee03019c1ef10b31fdc6bc19873512.png) no-repeat center;
  background-size: cover;
  z-index: 37;
  border-radius: 8px;
}

.main-div {
  width: 100%;
  height: 48px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 33;
}

.account-number-span {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}

.account-title-span {
  display: block;
  position: relative;
  height: 17px;
  margin: 11px 0 0 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}

.button-19 {
  position: relative;
  width: calc(100% - 32px);
  height: 48px;
  /* margin: 24px 0 0 0; */
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-color);
  border: none;
  z-index: 38;
  border-radius: 8px;
}

.button-19:hover{
  background-color: var(--dark-color);
}

.button-19-new {
  position: relative;
  width: calc(100% - 30px);
  height: 48px;
  /* margin: 24px 0 0 0; */
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--primary-color);
  border: none;
  z-index: 38;
  border-radius: 8px;
}

.button-19-new:hover{
  background-color: var(--dark-color);
}

.fill-form-span {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 39;
}

.i-div {
  height: 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 40;
}

.svg-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 16px;
  z-index: 41;
}

.frame-div {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  background: url(../img/6ecbeb7f-d6d1-4abb-aa22-b19ac2b7ecb3.png) no-repeat center;
  background-size: cover;
  z-index: 42;
  overflow: hidden;
}


.form-group {
  margin-bottom: 15px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input {
  height: 60px;
}

textarea {
  resize: vertical;
}

label {
  position: absolute;
  left: 10px;
  top: 17px;
  background-color: white;
  padding: 0 5px;
  color: #999;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.recipt_label {
  position: relative !important;
  padding: 0 14px !important;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out !important;
  pointer-events: none !important;
  top: 5px !important;
  background-color: var(--primary-color) !important;
  border-radius: 5px !important;
  font-size: 12px !important;
}

input:focus+label,
textarea:focus+label,
input.has-value+label,
textarea.has-value+label {
  top: -8px;
  left: 5px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: var(--primary-color);
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
}

.alert-message-donation-form-text-success {
  margin: 0;
  color: green;
  font-family: "Poppins", serif;
  font-weight: 400;
  padding-left: 10px;
  font-size: 14px;
}

.alert-message-donation-form-text-danger {
  margin: 0;
  color: red;
  font-family: "Poppins", serif;
  font-weight: 400;
  padding-left: 10px;
  font-size: 14px;
}

.donationFormLoader {
  display: none;
  background-color: var(--dark-color);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  width: calc(100% - 30px);
  height: 48px;
  cursor: pointer;
  border: none;
  z-index: 38;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .div-1 {
    width: 80%;
  }

  .donation-form-div-1 {
    width: 80%;
  }
}


@media only screen and (max-width: 550px) {
  .div-1 {
    width: 90%;
  }

  .donation-form-div-1 {
    width: 90%;
  }
}


@media only screen and (max-width: 500px) {
  .div-4 {
    padding: 0px 10px;
  }

  .button-19 {
    width: calc(100% - 20px);
  }

  .div-e {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 18px;
  }

  .div-f {
    margin-top: 10px;
  }

  .div-16 {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 18px;
  }

  .div-17 {
    margin-top: 10px;
  }
}