@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #048f40;
    --dark-color: #0e6a47;
    --light-color: #83b757;
}

.top-info-bar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.top-left {
    display: flex;
    gap: 25px;
}

.top-info-bar .top-left p {
    font-family: "Poppins", serif;
    margin: 0;
    color: #666;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.top-info-bar .top-left p ion-icon {
    font-size: 18px;
    margin-top: -2px;
}

.custom-nav-bg {
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.navbar-brand img {
    width: 80px;
}

.nav-link1 {
    font-weight: 500;
    color: grey;
    padding: 5px 3px;
    margin: 0px 15px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-link1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--dark-color);
    transition: width 0.3s ease-in-out;
    font-family: "Poppins", serif;
}

.nav-link1:hover {
    color: var(--dark-color);
}

.nav-link1:hover::after {
    width: 100%;
}

.nav-link1.active {
    color: var(--dark-color);
}

.nav-link1.active::after {
    width: 100%;
}

.nav-link-btn {
    border: 1px solid var(--light-color);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    transition: all 0.3s ease;
    font-family: "Poppins", serif;
    background-color: var(--dark-color)
}

.nav-link-btn:hover{
    background-color: var(--light-color);
}

.nav-link-btn:hover {
    color: white;
    transform: scale(1.1);
}

/* .nav-link-btn1 {
     !important;
}

.nav-link-btn2 {
    background-color: var(--dark-color) !important;
} */

.my-padding {
    margin-left: auto;
    margin-right: auto;
    padding-left: .75rem;
    padding-left: var(--bs-gutter-x, .75rem);
    padding-right: .75rem;
    padding-right: var(--bs-gutter-x, .75rem);
    width: 1536px;
}

.heading-hero {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    color: #000000bd;
    font-family: "Poppins", serif;
    /* white-space: pre-line; */
}

.slogan-hero {
    font-size: 24px;
    font-weight: 600;
    color: #000000bd;
    font-family: "Poppins", serif;
    margin-top: 35px;
    margin-bottom: 12px;
}

.paragraph-hero {
    font-size: 16px;
    font-weight: 400;
    color: #000000bd;
    font-family: "Poppins", serif;
}

.explore-btn {
    margin-top: 10px;
}

.explore-btn button {
    border: 1px solid black;
    padding: 13px 40px;
    font-size: 14px;
    background-color: white;
    display: flex;
    align-items: center;
    color: #000000bd;
    font-family: "Poppins", serif;
}

.arrow-icon {
    margin-left: 10px;
}

.green {
    color: var(--light-color) !important;
}

.hero-right-box {
    display: flex;
    justify-content: end;
}

.hero-right-box img {
    width: 80%;
    object-fit: contain;
}

.slogan-hero .running-text {
    font-family: "Poppins", serif;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    color: var(--primary-color);
    padding-right: 2px;
    border-right: 3px solid var(--primary-color);
    /* Creates the cursor effect */
}



.section-container {
    background-color: var(--light-color);
    padding: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid var(--dark-color);
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Enable wrapping on smaller screens */
    gap: 10px;
}


.action-button {
    font-family: "Poppins", serif;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--dark-color);
}
.action-button:hover{
    background-color: var(--dark-color);
    color: white;
    transform: scale(1.04);
}

.quick-donate-button {
    font-family: "Poppins", serif;
    background-color: var(--dark-color);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.quick-donate-button:hover{
    transform: scale(1.04);
}

.donate-input {
    display: flex;
    align-items: center;
}

.donate-input input {
    font-family: "Poppins", serif;
    width: 230px;
    height: 53px;
    padding: 5px;
    border: 1px solid #424242;
}

.donate-input input:focus {
    outline: none;
}

.donate-input input[type="number"]::-webkit-outer-spin-button,
.donate-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate-input input[type="number"] {
    -moz-appearance: textfield;
    /* For Firefox */
    appearance: textfield;
    /* For other browsers */
}

.second-input-left-general {
    font-family: "Poppins", serif;
    padding: 0px 11px;
    display: flex;
    align-items: center;
    height: 53px;
    background-color: #424242;
    border: 1px solid #424242;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    font-size: 12px;
}

.second-input-right-rs {
    font-family: "Poppins", serif;
    padding: 0px 11px;
    display: flex;
    align-items: center;
    height: 53px;
    background-color: #424242;
    border: 1px solid #424242;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.section-two-donate-button {
    width: 100%;
}

.quick-donate-button-mobile {
    font-family: "Poppins", serif;
    background-color: var(--dark-color);
    border-radius: 5px;
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.quick-donate-button-mobile:hover{
    transform: scale(1.04);
}

.section-two-input-box {
    width: 100%;
}

.section-two-action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 560px !important;
}

.what-we-doing-heading {
    font-family: "Poppins", serif;
    text-align: center;
    color: #000000bd;
    font-size: 30px;
    font-weight: 600;
}

.wwe-card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wwe-card {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(182, 239, 73, .2);
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid var(--dark-color);
}

.wwe-card:hover {
    transform: scale(1.04);
    box-shadow: 0px 10px 39px -3px #00000031;
}

.wwe-card p {
    font-family: "Poppins", serif;
    text-align: center;
    color: #000000bd;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.wwe-card img {
    text-align: center;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.fifth-section-box-main {
    position: relative;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.fifth-section-box-main:hover {
    transform: scale(1.04);
}

.fifth-section-box-main:hover .fifth-section-box-img img {
    filter: brightness(65%);
}

.fifth-section-box-main:hover .fifth-section-box-content {
    opacity: 0.8;
}

.fifth-section-box-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    padding: 50px 0px 30px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.fifth-section-box-img img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    z-index: -1;
    filter: brightness(50%);
}

.bottom-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-text {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.bottom-button button {
    font-family: "Poppins", serif;
    width: 97%;
    border: none;
    background-color: var(--dark-color);
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.sixth-section-right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sixth-section-img img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--dark-color);
}

.sixth-section-right h1 {
    font-family: "Poppins", serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000bd;
}

.sixth-section-card {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(238 238 238);
    border-radius: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid var(--dark-color);
}

.left-icon img {
    width: 40px;
}

.right-content h1 {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color);
}

.right-content p {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000bd;
}

.seven-section-main-box {
    padding: 100px 0px;
    background-color: var(--dark-color);
    position: relative;
    border-radius: 10px;
}

.seven-section-main-box::before {
    content: "";
    background-image: url("https://www.saylaniwelfare.com/static/media/upcoming_background.a669f19ea2aee3c7e10f.png");
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
}

.wave-cards {
    display: flex;
}

.wave-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.wave-card-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-card-icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.wave-card-text {
    font-family: "Poppins", serif;
    text-align: center;
    color: #ffffff;
}

.wave-card-text h1 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.wave-card-text p {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

#section-two-desktop {
    display: flex;
}

#section-two-mobile {
    display: none;
}

.dropbtn {
    background-color: #ffffff;
    color: #000000;
    padding: 4px 20px;
    font-size: 14px;
    border-radius: 3px;
    width: 90px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    font-family: "Poppins", serif;
}

.dropbtn:focus {
    outline: none;
}

/* The dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    width: 90px;
    border-radius: 3px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: "Poppins", serif;
    color: black;
    padding: 7px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.testimonial-mini-heading {
    color: var(--dark-color);
    font-size: 15px;
    font-family: "Poppins", serif;
    text-align: center;
}

.testimonial-heading {
    text-align: center;
    margin-top: 10px;
    color: #000000bd;
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
}

.testimonial-main-box {
    background-color: #eeeeee;
    overflow: hidden;
    border-radius: 10px;
}

.swiper-container-second {
    position: relative;
}

.second-swiper-slide {
    padding: 100px;
    padding-top: 50px;
    background: transparent !important;
}

.navigation-buttons {
    position: absolute;
    bottom: 26px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.swiper-button-next-second,
.swiper-button-prev-second {
    color: #ffffff;
    display: block;
    width: 44px;
    height: 44px;
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.forward-icon,
.back-icon {
    font-size: 25px;
}

.testimonial-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testimonial-slide .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial-slide .image img {
    width: 100px;
    height: 100px !important;
    border-radius: 50%;
    border: 3px solid var(--light-color);
}

.testimonial-slide .name {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    color: black;
}

.testimonial-slide .profession {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.testimonial-slide .review {
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.media-heading {
    text-align: center;
    margin-top: 10px;
    color: #000000bd;
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
}

.media-card {
    border: 1px solid var(--light-color);
    border-radius: 8px;
    position: relative;
}

.media-card-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.media-title {
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 600;
    padding: 0px 10px;
}

.media-hash-tag {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #424242;
    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 400;
    padding: 0px 10px;
}

.ant-ribbon {
    font-feature-settings: "tnum", "tnum";
    background-color: var(--primary-color);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .85);
    color: #fff;
    font-size: 14px;
    font-variant: tabular-nums;
    height: 22px;
    line-height: 1.5715;
    line-height: 22px;
    list-style: none;
    margin: 0;
    padding: 0 8px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    border-bottom-right-radius: 0;
    right: -9px;
}

.ant-ribbon-text {
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.ant-ribbon-corner {
    border: 4px solid;
    color: currentcolor;
    height: 8px;
    position: absolute;
    top: 100%;
    transform: scaleY(.75);
    transform-origin: top;
    width: 8px;
    border-color: #8dc63f transparent transparent #8dc63f;
    right: 0;
}

.ant-ribbon-corner:after {
    border: inherit;
    color: rgba(0, 0, 0, .25);
    content: "";
    height: inherit;
    left: -4px;
    position: absolute;
    top: -4px;
    width: inherit;
}

.news-heading {
    text-align: center;
    margin-top: 10px;
    color: #000000bd;
    font-size: 30px;
    font-family: "Poppins", serif;
    font-weight: 600;
}



.news-card {
    border: 1px solid var(--light-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.news-card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.news-content {
    padding: 20px 20px;
    background-color: #eeeeee;
}

.news-title {
    margin-top: 10px;
    color: #000000;
    font-size: 16px;
    font-family: "Poppins", serif;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.news-date {
    font-size: 10px;
    font-family: "Poppins", serif;
    font-weight: 400;
    text-align: center;
    padding: 6px 12px;
    color: white;
    border-radius: 5px;
    background-color: var(--dark-color);
    width: 115px;
}

.news-arrow {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 5px;
    background-color: white;
    width: 70px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--light-color);
}

.news-arrow:hover{
    transform: scale(1.04);
    border: 1px solid var(--dark-color);
}

footer {
    position: relative;
    background-color: #424242;
    padding: 30px 0px;
}

footer::before {
    content: "";
    background-image: url("https://www.saylaniwelfare.com/static/media/upcoming_background.a669f19ea2aee3c7e10f.png");
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
}

.footer-boxes {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    gap: 20px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.whatsapp-icon {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.whatsapp-icon img {
    width: 24px !important;
    height: 24px !important;
    object-fit: cover;
}

.tweeter-icon {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.tweeter-icon img {
    width: 24px !important;
    height: 24px !important;
    filter: invert(100%);
    object-fit: cover;
}

.footer-icon img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.footer-logo img {
    width: 200px;
}

.footer-heading {
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 600;
}

.footer-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 400;
    text-decoration: none;
}

.footer-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.footer-info p {
    color: #ffffff;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
    text-decoration: none;
}

.horizontal-line {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.486);
    width: 100%;
    height: 1px;
}

.copyright {
    margin-top: 20px;
}

.copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
}

@media only screen and (max-width: 1536px) {
    .my-padding {
        max-width: 1280px;
    }

    .heading-hero {
        font-size: 28px;
    }

    .slogan-hero .running-text {
        font-size: 22px;
    }

    .slogan-hero {
        font-size: 22px;
    }

    .action-button {
        padding: 1rem 1rem;
    }

    .wwe-card {
        width: 193px;
    }

}

@media only screen and (max-width: 1280px) {
    .my-padding {
        max-width: 1024px;
    }

    .flex-container {
        justify-content: initial;
        gap: 20px;
    }

    .wwe-card img {
        width: 50px;
        height: 50px;
    }

    .wwe-card p {
        font-size: 16px;
    }

    .wwe-card {
        width: 153px;
        padding: 15px;
    }

    .hero-right-box img {
        width: 100%;
        object-fit: contain;
    }

    .heading-hero {
        font-size: 28px;
    }

    .slogan-hero {
        font-size: 18px;
    }

    .slogan-hero .running-text {
        font-size: 18px;
    }

    .paragraph-hero {
        font-size: 14px;
    }



}

@media only screen and (max-width: 1024px) {
    .my-padding {
        max-width: 768px;
    }

    .wwe-card {
        flex-basis: calc(33.33% - 20px);
        /* 3 cards per row, with margins */
        margin: 10px;
    }

    .wwe-card-box {
        justify-content: center;
        /* Center the cards in the available space */
    }
}

@media only screen and (max-width: 991px){
    .nav-link1{
        margin-top: 10px;
    }
    .nav-item{
        height: 100%;
    }
    .navbar-nav{
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .my-padding {
        max-width: 640px;
    }

    #section-two-desktop {
        display: none;
    }

    #section-two-mobile {
        display: flex;
    }

    .footer-boxes {
        text-align: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        gap: 20px;
        flex-direction: column;
    }

    .footer-box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer-links {
        gap: 0px;
    }

}


@media only screen and (max-width: 640px) {
    .my-padding {
        max-width: 540px;
    }

    .hero-right-box img {
        display: none;
    }

    .hero-left-box {
        width: 100%;
    }

    .top-left {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .top-right {
        display: flex;
        align-items: center;
    }

    .second-swiper-slide {
        padding: 100px 20px;
        padding-top: 50px;
    }

}

@media only screen and (max-width: 540px) {
    .my-padding {
        width: 100%;
    }

    .section-container {
        padding: 15px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 300px !important;
    }

    .action-button {
        width: 100%;
        font-size: 13px;
    }

    .heading-hero {
        font-size: 24px;
        font-weight: 700;
    }

    .wwe-card {
        flex-basis: calc(100% - 20px);
        margin: 10px;
    }

    .wwe-card-box {
        justify-content: center;
    }
}